.name-filter-container {
    margin-right: 20px;
    align-items: center;
}

.name-filter-container .name-filter {
    width: 200px;
    height: 50px;
    background-color: #fff; 
    color: black; 
    border: 1px solid black; 
}
