.high-light-check-box-container {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.check-box-span-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 1;
    height: 58px;
}

.high-light-check-box {
    display: flex;
    align-items: flex-end;
}

.check-box {
    height: 50px;
    width: 50px;
}
